.main__button {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--first-color);
    background-color: var(--second-color);
    cursor: pointer;
    border: 2px solid var(--second-color);
    border-radius: 25px;
    height: 35px;
    width: 100%;
}

.input {
    position: relative;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__element {
    background-color: transparent;
    border: 2px solid var(--second-color);
    border-radius: 25px;
    padding: 10px 15px 10px 35px;
    font-size: 1.2rem;
    height: 35px;
    width: 100%;
}

.input__icon {
    position: absolute;
    margin: 5px auto;
    left: 8px;
}

.input--error > input  {
    border-color: var(--alert-color);
}
  
.input--error > span {
    color: var(--alert-color);
}

.input__message--error {
    display: none;
    margin-top: 1%;
    font-size: 0.8rem;

}

.input--error .input__message--error  {
    display: block;
    position: absolute;
    font-size: 0.8rem;
    color: var(--alert-color);
    top: 95%;
    left: 10%;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--third-color);
}

.main__container {
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    background: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;   
}

.main__login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 70%;
    width: 70%;
    margin: auto 70%;
}

.main__title{
    font-weight: bold;
}

.main__help{
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.main__help p{
    font-size: 14px;
}

.main__help a{
    font-weight: bold;
    color: var(--second-color);
}


@media (max-width: 900px) {
    .main__container {
      grid-template-columns: 1fr;
    }
    .main__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
        width: 80%;
        margin: auto;
    }
    .main__illustration {
      display: none;
    }
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--second-color);
	overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --first-color: #FFFFFF;
    --second-color:#000000;
    --third-color: #BDBDBD;
    --alert-color: #ff0000;
}